# Linear Regression

In [27]:
import pandas as pd
import numpy as np

### Note: In LR the features should be independent of each other
### to avoid multicolinearity

In [2]:
salary = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')
salary

    Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [20]:
x = salary[['Experience Years']]
y = salary['Salary']

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2529)

In [52]:
X_train, X_test.shape, y_train.shape, y_test.shape

(    Experience Years
 28               6.5
 31               7.9
 34               8.7
 20               4.7
 4                2.0
 3                1.5
 18               4.3
 26               6.0
 2                1.3
 22               5.1
 35               9.0
 7                2.9
 39              10.5
 30               7.1
 10               3.2
 0                1.1
 9                3.2
 13               3.8
 5                2.2
 37               9.6
 23               5.3
 25               5.9
 21               4.9
 24               5.5
 8                3.0
 36               9.5
 15               4.0
 32               8.2,
 (12, 1),
 (28,),
 (12,))

In [53]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()

In [54]:
model.fit(X_train,y_train)

LinearRegression()

In [55]:
pred = model.predict(X_test)

In [34]:
pd.DataFrame(pred, columns= ['Prediction'])

       Prediction
0    90555.154411
1    59516.619524
2   106544.702686
3    64219.427840
4    68922.236157
5   123474.812624
6    84911.784432
7    63278.866177
8    65159.989504
9    61397.742851
10   37883.701270
11   50111.002892

In [30]:
pred = np.array(pred)

In [31]:
pred

array([ 90555.15441095,  59516.61952424, 106544.70268592,  64219.42784041,
        68922.23615658, 123474.81262412,  84911.78443155,  63278.86617718,
        65159.98950364,  61397.74285071,  37883.70126987,  50111.00289191])

In [56]:
Output = X_test

In [35]:
y_test

29     91738
11     60000
33    111620
16     56957
19     61111
38    122391
27     91000
14     63218
17     57081
12     57189
1      42774
6      48266
Name: Salary, dtype: int64

In [57]:
Output['Predicted Salary'] = pred 
Output['Actual Salary'] = y_test

In [60]:
Output

    Experience Years  Predicted Salary  Actual Salary
29               6.8      90555.154411          91738
11               3.5      59516.619524          60000
33               8.5     106544.702686         111620
16               4.0      64219.427840          56957
19               4.5      68922.236157          61111
38              10.3     123474.812624         122391
27               6.2      84911.784432          91000
14               3.9      63278.866177          63218
17               4.1      65159.989504          57081
12               3.7      61397.742851          57189
1                1.2      37883.701270          42774
6                2.5      50111.002892          48266

In [65]:
y_test

29     91738
11     60000
33    111620
16     56957
19     61111
38    122391
27     91000
14     63218
17     57081
12     57189
1      42774
6      48266
Name: Salary, dtype: int64

In [58]:
model.intercept_

26596.961311068255

In [59]:
model.coef_

array([9405.61663234])

In [46]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
mean_absolute_error(y_test, pred)

4005.926310168176

In [47]:
mean_absolute_percentage_error(y_test,pred)

0.06384602996141632

In [48]:
mean_squared_error(y_test,pred)

24141421.671440985