# Linear Recression on stock data 
## Features Open and Volume

In [1]:
import yfinance as yf

In [44]:
BEL = yf.download('BEL.NS', '2023-01-01', '2024-06-07')

[*********************100%***********************]  1 of 1 completed

In [45]:
BEL.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-05-31,294.200012,297.200012,286.299988,295.950012,295.950012,51397345
2024-06-03,323.000000,323.000000,309.299988,318.649994,318.649994,67256146
2024-06-04,312.000000,312.000000,230.050003,255.550003,255.550003,268052657
2024-06-05,264.500000,264.500000,230.000000,260.350006,260.350006,193487058
2024-06-06,267.000000,281.500000,267.000000,270.850006,270.850006,84661924

In [46]:
features = BEL[['Open','Volume']]

In [47]:
features

                  Open     Volume
Date
2023-01-02  100.400002    6973552
2023-01-03  100.300003    8833881
2023-01-04  100.699997    8927128
2023-01-05   99.000000   10448282
2023-01-06   99.800003    7215940
...                ...        ...
2024-05-31  294.200012   51397345
2024-06-03  323.000000   67256146
2024-06-04  312.000000  268052657
2024-06-05  264.500000  193487058
2024-06-06  267.000000   84661924

[350 rows x 2 columns]

In [48]:
y = BEL['Close']
y

Date
2023-01-02    100.250000
2023-01-03    100.349998
2023-01-04     98.750000
2023-01-05     99.949997
2023-01-06     98.949997
                 ...
2024-05-31    295.950012
2024-06-03    318.649994
2024-06-04    255.550003
2024-06-05    260.350006
2024-06-06    270.850006
Name: Close, Length: 350, dtype: float64

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,y, train_size=0.7, random_state=0, shuffle=False)

In [61]:
len(y_train)

244

In [62]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model

LinearRegression()

In [63]:
model.fit(X_train, y_train)

LinearRegression()

In [64]:
model.coef_

array([9.97496047e-01, 1.18942819e-08])

In [65]:
model.intercept_

0.04093773647697674

In [66]:
pred = model.predict(X_test)
pred

array([182.76245735, 184.5924118 , 185.84628461, 182.15723122,
       182.3861182 , 187.53290161, 186.45978093, 184.61533906,
       184.08270189, 186.70285176, 185.03213805, 184.77019788,
       188.66385276, 186.06893021, 185.52142706, 189.83046843,
       195.11876742, 186.54855714, 190.46309195, 189.90916346,
       191.80869974, 188.05226809, 187.60202514, 184.90729767,
       186.85673827, 182.12854012, 183.89863411, 182.13077509,
       185.32719937, 181.07070667, 174.51943744, 177.12602557,
       182.78891075, 188.92265234, 189.81674813, 188.87928221,
       191.07449465, 189.6963389 , 196.75551368, 205.49730141,
       203.42473473, 206.18845328, 205.26267073, 205.62927177,
       207.87788144, 210.80953951, 211.62267326, 211.45489663,
       216.22015515, 210.92556773, 204.12492703, 188.9795037 ,
       197.35428307, 189.8387459 , 189.89607771, 186.66605773,
       190.07845832, 196.42145797, 196.85362584, 199.9899547 ,
       200.24615409, 205.07286537, 214.37227425, 221.75267493,
       223.19872009, 220.14090759, 225.2215062 , 224.62355762,
       228.91022208, 231.4418286 , 230.07968114, 232.3454358 ,
       235.27252059, 228.34251076, 235.65873865, 233.93279093,
       235.09906062, 236.04165872, 238.18726399, 239.82602289,
       235.92189522, 234.38128388, 236.734979  , 234.93790109,
       232.27300091, 226.89746867, 234.37278927, 227.59007016,
       228.26004575, 225.50151548, 231.65358192, 234.86394274,
       241.41556667, 283.84332004, 277.36788658, 286.46414889,
       288.07638505, 301.62878066, 295.40367343, 285.10270871,
       292.81599312, 294.11562139, 323.03212442, 314.44799821,
       266.18003173, 267.37937503])

In [67]:
Output = X_test.copy()

In [69]:

Output['Predicted Close price'] = pred 
Output['Actual Close price'] = y_test
Output

                  Open     Volume  Predicted Close price  Actual Close price
Date
2023-12-29  182.949997   19305150             182.762457          184.199997
2024-01-01  184.800003   18008785             184.592412          184.949997
2024-01-02  186.000000   22790965             185.846285          182.149994
2024-01-03  182.350006   18738690             182.157231          182.350006
2024-01-04  182.500000   25403124             182.386118          186.899994
...                ...        ...                    ...                 ...
2024-05-31  294.200012   51397345             294.115621          295.950012
2024-06-03  323.000000   67256146             323.032124          318.649994
2024-06-04  312.000000  268052657             314.447998          255.550003
2024-06-05  264.500000  193487058             266.180032          260.350006
2024-06-06  267.000000   84661924             267.379375          270.850006

[106 rows x 4 columns]

In [70]:
X_test

                  Open     Volume
Date
2023-12-29  182.949997   19305150
2024-01-01  184.800003   18008785
2024-01-02  186.000000   22790965
2024-01-03  182.350006   18738690
2024-01-04  182.500000   25403124
...                ...        ...
2024-05-31  294.200012   51397345
2024-06-03  323.000000   67256146
2024-06-04  312.000000  268052657
2024-06-05  264.500000  193487058
2024-06-06  267.000000   84661924

[106 rows x 2 columns]

In [71]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
mean_absolute_error(y_test, pred)

3.7376249989531636